/*mobil*/
@media (min-width: 360px) and (max-width:767px) {

.menu, .menu-content, .sticky{
    width: 95%;

}


.content, .tema1_content, .tema2_1_content, .tema2_2_content, .tema3_1_content, .tema3_2_content, .tema4_1_content, .tema4_2_content {
  width:300px;
  height:100%;
}


.text {
  width:300px;
}


h1, h2 {
  font-size:36px;
}

#cv h1 {
  margin-top:50px;
}



.picture, .t1ac, .t21vi, .t22re, .t32pri, .t41kea, .t42joe{
 width: 200px;
 padding:50px;
}



#cv .content{
  width:300px;
}


.column-one, .column-two{
  width:300px;
  margin-bottom:20px;

    }

 .column-three{
  width:300px;
  margin-bottom:70px;
 }

.column_keaapp, .column_redesign, .column_joejuice{
        width: 300px;
        margin-left: 0;
    }

.portfolio .portfolio-margin{
  width:300px;
}

    .column_redesign, .column_animation{

        margin-left: 70px;
    }
}


/* tablet */
@media (min-width: 767px) and (max-width: 1023px) {


.menu, menu-content{
  display: flex;
    width: 95%;
}

.content, .tema1_content, .tema2_1_content, .tema2_2_content, .tema3_1_content, .tema3_2_content, .tema4_1_content, .tema4_2_content{
  width:300px;
  height:100%;
}

.text {
  width:300px;
}

h1, h2 {
  font-size:36px;

}

#cv h1 {
  margin-top:50px;
}

.picture{
    width: 300px;
    padding: 1px;

    }

 .t1ac, .t21vi, .t22re, .t3, .t32pri, .t41kea, .t42joe{

        width: 100%;
    }

#cv .content{
  width:300px;
}

.column-one, .column-two, .column_ {
  width:300px;
  margin-bottom:20px;
}

 .column-three{
  width:300px;
  margin-bottom:70px;
 }
    .column_animation, .column_keaapp,  .column_joejuice{
        width: 300px;
        margin-left:0;
    }
    .column_redesign{
    margin-left: 70px;}
.portfolio .portfolio-margin{
  width:300px;
}

}


/* PC */
@media (min-width: 1023px) {

    .sticky{
            padding-left: 500px;

    }
.menu{
  display: flex;
    width: 100%;
}

.content, .tema1_content, .tema2_1_content, .tema2_2_content, .tema3_1_content, .tema3_2_content, .tema4_1_content, .tema4_2_content{
    width: 700px;
}

.h1, h2{
    font-size: 36px;

    }


#cv h1{
  margin-top: 50px;
}

.t1ac, .t21vi, .t22re, .t32pri, .t41kea, .t42joe{

    width: 70%;
    margin-left: 100px;
    }

.column-one, .column_two, .column_three{
  width:233px;
}

    .column_redesign{
        margin-left: 270px;
    }

.portfolio .portfolio-margin {
  width:600px;
}
